/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-child {
  background: white;
  margin: 20px;
  /* padding: 10px; */
  width: 300px;
  height: auto;
  position: absolute;
  /* margin: 100px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.main-navbar{
  /* padding: 10px; */
  /* position: fixed; */
  /* top: 0; */
  display: flex;
  justify-content: space-between;
}

.main-navbar a{
  padding: 10px;
}

.auth-navbar{
  min-width: 150px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.auth-navbar li{
  padding: 10px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

.auth-navbar li:hover{
  border-bottom: 2px solid #40d9ac;
  padding: 10px 10px 8px 10px;
  cursor: pointer;
}



li{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.hosting-button{
  background-color: #40d9ac;
  color: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #40d9ac;
  -webkit-font-smoothing: antialiased;
}

.hosting-button:hover{
  background-color: inherit;
  color: #40d9ac;
  cursor: pointer;
}

.session-submit{
  background-color: #40d9ac;
  color: white;
  font-size: 16px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: 2px solid #40d9ac;
  padding: 10px;
  width: 90%;
  justify-content: center;
  display: block;
  margin: 20px auto 0 auto;
  height: 50px;
}

.session-submit:hover{
  /* background-color: inherit;
  color: #40d9ac; */
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transform: translateY(-3px);
}


.session-form-div input{
  width: 85%;
  padding: 5px;
  height: 45px;
  margin: 5px 15px;
}

.session-form-div input::placeholder{
  color: black;
  font-weight: 700;
} 

.session-form-div input:focus{
  outline:none;
}

.session-form{
  padding: 10px;
  justify-content: center;
}

.other-form{
  background: rgba(204, 204, 204, 0.507);
  display: flex;
  color: gray;
  font-size: 12px;
  justify-content: space-around;
}

.other-form-link{
  list-style-type: none;
  color: gray;
  font-weight: bold;
  align-items: center;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.other-form-link:hover{
  border-bottom: 1px solid gray;;
  cursor: pointer;
}

.sign-up-names{
  display: flex;
}

.demo-login-button{
  background-color: #40d9ac;
  color: white;
  font-size: 16px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: 2px solid #40d9ac;
  width: 90%;
  padding: 10px;
  display: block;
  margin: 0 auto 20px auto;
  height: 50px;
}

.demo-login-button:hover{
  /* background-color: inherit;
  color: #40d9ac; */
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transform: translateY(-3px);
  cursor: pointer;
}

.user-profile{
  position: relative;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  font-size: 16px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.user-profile-content{
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  right: 0;
  top: 35px;
  border: 1px solid gray;
  background: #fff;
}

.user-profile:hover .user-profile-content {
  display: block;
}

.user-profile-content li{
  padding: 20px 5px;
  border-bottom: 1px solid gray;
}

.user-profile-content li:hover{
  padding: 20px 5px 20px 20px;
  /* display: flex;
  justify-content: center; */
}

.session-form-separator{
  color: #757575;
  width: 90%;
  padding: 10px 5px 10px 5px;
}

.session-form-separator p{
  display: flex;
  justify-content: center;
}

.greeting{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.greeting h2{
  display: flex;
  justify-content: center;
}

.greeting h3{
  color: gray;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.auth-error{
  position: fixed;
  bottom: 5%;
  left: 5%;
  min-width: 70px;
  padding: 20px;
  /* min-height: 50px; */
  background: gold;
  z-index: 2;
  display: flex;
}

.auth-error span{
  color: rgb(142, 103, 5);
  margin-right: 5px;
  align-items: center;
}

.auth-error span{
  color: rgb(142, 103, 5);
  margin-right: 5px;
  align-items: center;
}

.auth-error-span{
  margin: auto 0;
}

.auth-error li{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  color: rgb(142, 103, 5);
  font-size: 14px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  /* list-style-type: none; */
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.auth-error-list{
  list-style-type: none;
}

.spot-search{
  background-color: gray;
  width: 90%;
  margin: 0 auto;
  min-height: 700px;
  display: flex;
  justify-content: space-around;
}


.search-map{
  background-color: pink;
  width: 50%;
}

.category-index{
  background-color: lightblue;
  min-height: 700px;
}


