.user-bookings-index{
    width: 100%;
    display: flex;
    min-height: 500px;
    margin-top: 150px;
}

.user-bookings-index-left{
    width: 35%;
    min-height: 500px;
}

.user-bookings-index-left-profile{
    padding-top: 25px;
    margin: 20px auto;
    width: 60%;
    height: 250px;
    background: white;
    border: 1px solid #ebebeb;
}

.user-bookings-index-right{
    width: 65%;
    min-height: 500px;
    /* background: orange; */
    margin-left: 60px;
}

.user-bookings-index-right-header{
    height: 150px;
    display: flex;
}

.user-bookings-index-right-header-sub{
    padding: 10px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    border-bottom: 4px solid #757575;
    border-radius: 3px;
    height: 40%;
    margin-right: 20px;
}
.user-bookings-index-right-header-sub h3{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-weight: 500;
}

.user-bookings-index-right-header-sub:hover{
   border-bottom: 4px solid #40d9ac;
}


.user-bookings-index-items{
    padding: 10px;
}

.user-bookings-index-item{
    background: white;
    margin-bottom: 50px;
    padding-bottom: 10px;
    width: 350px;
    /* margin-left: 40px; */
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.user-bookings-link{
    text-decoration: none;
    margin-left: 0;
    padding: 10px;
    color: #000000;
}


.user-bookings-index-item-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.user-bookings-index-item-imagediv{
    height: 200px;
}


.user-bookings-index-item-image{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-bookings-index-item h3{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
}

.user-bookings-buttons-div{
  width: 30%;
  height: 80%;
  border-radius: 2px;
  position: relative;
}

.update-bookings-button{
  background-color: #40d9ac;
  color: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 2px solid #40d9ac;
  -webkit-font-smoothing: antialiased;
  /* width: 30%;
  height: 80%; */
  /* border-radius: 2px; */
  width: 100%;
  height: 100%;
}

.update-bookings-button-disabled{
  background-color: #a0a0a0;
  color: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  position: relative;
  font-size: 16px;
  border: 2px solid #a0a0a0;
  -webkit-font-smoothing: antialiased;
  /* width: 30%;
  height: 80%;
  border-radius: 2px; */
  width: 100%;
  height: 100%;
}

.update-bookings-button-disabled:focus{
    outline: none;
}

.update-bookings-button:hover{
  background-color: inherit;
  color: #40d9ac;
  cursor: pointer;
}

.delete-bookings-button{
  background-color: #d94064;
  color: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 2px solid #d94064;
  -webkit-font-smoothing: antialiased;
  /* width: 30%;
  height: 80%;
  border-radius: 2px; */
  width: 100%;
  height: 100%;
}

.delete-bookings-button-disabled{
  background-color: #a0a0a0;
  position: relative;
  color: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 2px solid #a0a0a0;
  -webkit-font-smoothing: antialiased;
  /* width: 30%;
  height: 80%;
  border-radius: 2px; */
  width: 100%;
  height: 100%;
}

.delete-bookings-button-disabled:focus{
    outline: none;
}

.delete-bookings-button:hover{
  background-color: inherit;
  color: #d94064;
  cursor: pointer;
}

.user-bookings-index-item-state{
    color: #757575;
    font-size: 14px;
}

.user-bookings-index-left-profile-1{
    display: flex;
    justify-content: space-evenly;
}

.user-bookings-index-left-profile-1 h3{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    /* font-weight: 500; */
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
}

.user-bookings-index-left-profile-2{
    display: flex;
    margin: 20px 10px 10px 25px;
}

.user-bookings-index-left-profile-3{
    display: flex;
    margin: 10px;
    margin-left: 25px;
}

.user-bookings-index-left-profile h4{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    /* font-weight: 500; */
    margin-block-start: 0.1em;
    margin-block-end: 0.5em;
    font-size: 12px;
    font-weight: 500;
    color: #333333;
}

.fa-heart{
    margin-right: 5px;
}
    
.fa-globe{
    margin-right: 5px;
}

.user-bookings-index-left-profile-4{
    margin: 20px 10px 0 20px;
}

.user-bookings-index-left-profile-4 p{
    font-size: 12px;
    color: #4b4b4b;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.user-bookings-index-item-date{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.day-picker-widget{
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background: white;
    width: 298px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.disabled-message{
    display: none;
    position: absolute;
    background: black;
    border-radius: 3px;
    z-index: 2;
    left: 112px;
    top: 0px;
    padding: 8px;
}

.disabled-message p{
    width: 90px;
    height: 75px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 12px;
}

.disabled-message-triangle{
  position: absolute;
  display: none;
  background: black;
  width: 25px;
  height: 25px;
  top: 19%;
  left: 106%;
  transform: rotate(45deg);
  z-index: 1;
}

.user-bookings-buttons-div:hover .disabled-message {
  display: block;
}

.user-bookings-buttons-div:hover .disabled-message-triangle {
  display: block;
}


/* .update-bookings-button-disabled:hover .disabled-message {
  display: block;
} */

.edit-form-spot-show{
    width: 400px;
    height: 310px;
}

.edit-form-spot-show-image{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.edit-form-spot-show-name{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-block-end: 0em;
    margin-left: 20px;
}

.edit-form-spot-show-location{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: gray;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-left: 20px;
}

.edit-form-master{
    display: flex;
}