.category-index-hosting-image-div{
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    position: relative;
}

.category-index-hosting-image-div img{
    width: 100%;
    height: auto;
}

.category-index-hosting-message{
    padding: 20px;
    width: 260px;
    height: 340px;
    position: absolute;
    top: 20%;
    left: 5%;
    background: #333333;
}

.category-index h3{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.category-index-hosting-message h3{
    font-size: 28px;
    color: white;
}

.category-index-hosting-message h5{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white
}

.category-index-hosting-message button{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    background: white;
    font-weight: 600;
    height: 60px;
    width: 150px;
    border-radius: 5px;
    border: none;
    outline: none;

}

.category-index-hosting-message button:hover{
    cursor: pointer;
}

.category-index-experiences{
    width: 80%;
    margin: 0 auto;
    min-height: 600px;
    max-width: 1000px;
}

.category-index-experiences-1{
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.category-index-experiences-1-sub{
    background: seashell;
    width: 100%;
    height: 100%;
    position: relative;
}

.category-index-experiences-1-sub:hover{
    cursor: pointer;
}

.category-index-experiences-1-sub-text{
    position: absolute;
    left: 50px;
    bottom: 0;
    color: white;
    text-align: center;
    max-width: 220px;
}

.category-index-experiences-1-sub-text h3{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    font-size: 24px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.category-index-experiences-1-sub-text h5{
    margin-block-start: 0.5em;
    margin-block-end: 1.5em;
    font-size: 14px;
    font-weight: 500;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.category-index-experiences-discover{
    width: 80%;
    margin: 0 auto;
    min-height: 600px;
    max-width: 1000px;
}

.category-index-experiences-discover-1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-index-experiences-discover-1-sub{
   background: white;
    width: 100%;
    margin: 10px;
    height: 300px;
    border: 1px solid #ebebeb;
}

.category-index-experiences-discover-1-sub-link{
    width: 30%;
    text-decoration: none;
}

.top-three-h3{
    color: white;
}

.bottom-five-h3{
    color: black;
}



.category-index-experiences-discover-1-sub:hover{
   cursor: pointer;
}

.category-index-experiences-discover-1-sub:hover .category-index-experiences-discover-1-sub-text h3{
    text-decoration: underline;
}


.category-index-experiences-discover-1-sub-pic{
    height: 80%;
    width: 100%;
}

.category-index-experiences-discover-1-sub-text{
    width: 100%;
    height: 20%;
}

.category-index-experiences-discover-1-sub-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-index-experiences-discover-1-sub-text h3{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-left: 10px;
}

.category-index-experiences-discover-1-sub-text h5{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left: 10px;
    color: #757575;
    font-weight: 500;
}

.category-index-experiences-1-sub img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-index-experiences-1-sub img:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transform: translateY(-3px);
}

.category-dropdown{
    position: absolute;
    display: none;
    width: 100%;
    top: -15px;
    left: -41px;
    z-index: 100;

}

.search-bar-category:focus-within .category-dropdown{
    display: block;
}

.category-dropdown li{
    display: flex;
    border: 1px solid lightgray;
    background: white;
    height: 68px;
    width: 100%;
    list-style-type: none;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 16px;
}

.category-dropdown li:hover{
    cursor: pointer;
    background-color: rgb(232, 231, 231);
}

.category-dropdown-left{
    width: 20%;
    margin: auto 0;
}

.category-dropdown-mid{
    width: 55%;
    margin: auto 0;
}

.category-dropdown-right{
    width: 25%;
    margin: auto 0;
}

.fa-campground{
    height: 20px;
    width: 20px;
    color: rgb(40, 40, 40);
}

.fa-caravan{
    height: 20px;
    width: 20px;
    color: rgb(40, 40, 40);
    margin-top: 3px;
}

.fa-warehouse{
    height: 20px;
    width: 20px;
    color: rgb(40, 40, 40);
}

.fa-tree{
    height: 20px;
    width: 20px;
    color: rgb(40, 40, 40);
}

.fa-umbrella-beach{
    height: 20px;
    width: 20px;
    color: rgb(40, 40, 40);
}

.description-hosting{
    margin-top: 70px;
}