.reviews-index-main{
    margin-top: 50px;
    min-height: 100px;
    width: 100%;
}

.reviews-index-main h3{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}


.review-show-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.review-show-header-1{
    display: flex;
}

.review-show-header-2{
    display: flex;
}

.review-show-header-2 h5{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-block-start: 1.9em;
    font-size: 16px;
}

.review-show-header-2-star{
    margin: auto 5px;
}


.review-rating-star{
    color: #40d9ac;
}

.review-show-header-2-text{
    margin-block-start: 1.67em;
}

.review-show-header-1 h5{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-block-start: 2em;
    -webkit-font-smoothing: antialiased;
}

.review-photo{
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50px;
  border: 1px solid #cccccc;
  display: flex;
  overflow: hidden;
  margin: auto 10px auto 0px;
}


.review-photo img{
  width: 100%;
  height: auto;
}

.review-show-header-content-icon{
    margin: auto 5px auto 0px;
}

.review-show-header-content{
    display: flex;
}

.review-show-body{
    display: flex;
}



.review-show-body-1{
    width: 13%;
}

.review-show-body-2{
    position: relative;
    width: 87%;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

.review-show-body-2 p{
    margin-block-start: 0em;
    margin-block-end: 1em;
    line-height: 1.4em;
}

.review-show-body-2-button{
    display: flex;
    color: white;
    background: #40d9ac;
    width: 100px;
}


.secondthumbs:before{
    outline: white;
}

.review-helpful-text{
    margin-right: 5px;
}

.secondthumbs-div{
    margin: auto 5px auto 10px;
}

.review-show-body-2-button h5{
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.review-show-header-3-date{
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    margin-block-start: 2.1em;
}

.create-review-form{
    padding: 10px;
    border: 1px solid #ebebeb;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.create-review-form p{
    margin: 20px 50px 35px 50px;
    font-weight: 700;
}

.create-review-form-top{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.create-review-form-bottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* justify-content: space-evenly; */
}


.fa-star{
    font-size: 20px;
}

/* .fa-star:hover{
    cursor: pointer;
    color: #40d9ac;
} */

.review-form-rating-stars:hover > i:before {
    color: #40d9ab85;
    /* color: #40d9ac; */
}

.review-form-rating-stars > i:hover ~ i:before {
    color: inherit;
}

.review-form-rating-stars i:hover{
    cursor: pointer;
}

.create-review-form-title{
    padding: 5px;
    height: 30px;
}

.create-review-form-title::placeholder{
    color: black;
    font-weight: 700;
}

.create-review-form-body{
    resize: none;
    padding: 5px;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.create-review-form-body::placeholder{
    color: black;
    font-weight: 700;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.review-form-rating-stars{
    width: 115px;
    /* height: 21px; */
    margin-top: 10px;
}

fieldset{
    border-radius: 10px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.create-review-form-bottom-diver{
    width: 450px;
    margin: 0 auto;
}

.create-review-form-bottom-fieldset{
    margin: 0 90px;
}

.create-review-form-submit{
    width: 100px;
    height: 50px;
    margin: 25px auto 0 auto;
    background: #40d9ac;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #40d9ac;
    -webkit-font-smoothing: antialiased;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: 700;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.create-review-form-submit:hover {
    background-color: inherit;
    color: #40d9ac;
    cursor: pointer;
}

.green-star{
    color: #40d9ac;
}

.review-delete-button{
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: #d94064;
  color: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 2px solid #d94064;
  -webkit-font-smoothing: antialiased;
  transition: 0.5s;
}

.review-delete-button:hover{
    cursor: pointer;
    background-color: white;
    color: #d94064;
}

.active-tab{
    border-color: green;
}