.spot-index{
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spot-item{
  background-color: #fff;
  width: 48%;
  height: 350px;
  flex-direction: row;
  border: 1px solid white;
  margin: 5px 5px 20px 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.spot-item-image{
  width: 100%;
  max-height: 60%;
}

.index-spot-image{
  width: 100%;
  height: 225px;
  border-radius: 5px;
}

.spot-item-content{
  margin: 20px 10px 0px 10px;
  min-height: 30%;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
}


.spot-item-content-title{
  display: flex;
}

.search{
  width: 80%;
  min-width: 700px;
  display: block;
  margin: 160px auto 170px auto;
  padding: 20px;
}

.search-header{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  overflow-wrap: break-word;
  width: 50%;

}

.search-bar{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.search-header h1{
  font-weight: 600;
  font-size: 40px;
  -webkit-font-smoothing: antialiased;
  
}

.search-header h2{
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  
}


.search-bar-form{
  display: flex;
  height: 70px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  padding: 10px;
  justify-content: space-between;
}

.search-bar-main{
  width: 50%;
  border: 0.1px solid lightgray;
  display: flex;
}

.search-bar-input-icon{
  margin: auto 15px;
}

.search-bar-input{
  width: 90%;
  outline: none;
  border: none;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.search-bar-input::placeholder{
  -webkit-font-smoothing: antialiased;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.search-bar-submit{
  background-color: #40d9ac;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #40d9ac;
  -webkit-font-smoothing: antialiased;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 700;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.search-bar-date{
  width: 16%;
  border: 0.1px solid lightgray;
  background: inherit;
  display: flex;
  align-items: center;
}

.search-bar-date-icon{
  margin-left: 15px;
  margin-right: 10px;
}

.search-bar-date h5{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 18px;
}

.search-bar-category{
  width: 18%;
  border: 0.1px solid lightgray;
  background: inherit;
  display: flex;
  align-items: center;
}

.search-bar-category-icon{
  margin-left: 15px;
  margin-right: 10px;
}

.search-bar-category-icon-2{
  margin-left: 10px;
}

.search-bar-category h5{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  margin-top: 27px;
}

.search-bar-submit:hover{
  background-color: inherit;
  color: #40d9ac;
  cursor: pointer;
}

.search-bar-submit-link{
  width: 12%;
}

.spot-show{
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.spot-show-side{
  width: 25%;
  position: relative;
}

.spot-show-main{
  min-height: 600px;
  width: 70%;
  display: flexbox;
}

.spot-show-header-2-2-upload{
  width: 35%;
  margin: 5px;
  border: 1px solid #ebebeb;
  background: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.spot-show-header-2-2-upload:hover{
  border-color: #cccccc;
}

.spot-show-header-2-2 button:focus{
  outline: none;
}

.spot-show-header-2-2-save{
  width: 35%;
  margin: 5px;
  border: 1px solid #ebebeb;
  background: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color: salmon;
}

.spot-show-header-2-2-save:hover{
  border-color: #cccccc;
}

.spot-show-header-2-2-share{
  width: 20%;
  margin: 5px 15px 5px 5px;
  border: 1px solid #ebebeb;
  background: white;
}

.spot-show-header-2-2-share:hover{
  border-color: #cccccc;
}


.spot-show-images{
  display: flex;
  height: 500px;
}

.spot-show-images-sub{
  width: 500px;
  min-width: 500px;
  border-left: 5px solid white;
}

.spot-show-images-sub:last-child{
  max-width: calc(100% - 1015px);
}

.spot-show-images-sub img{
  /* width: 100%; */
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.spot-show-images-sub:last-child{
  min-width: 0;
}

.spot-show-images-sub img:last-child{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.spot-show-1 h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 32px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.spot-show-1 h3{
    font-size: 16px;
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333333;
}


.spot-show-1-1 li{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  list-style: none;
  margin-right: 5px;
}

.spot-show-1-1-span{
  font-weight: bold;
  color: #333333;
  margin-right: 5px;
}

.spot-show-1-1 li:last-child{
    border-bottom: 1px solid #ebebeb;
}

.spot-show-1-1 li:last-child:hover{
  border-bottom: 1px solid #333333;
  cursor: pointer;
}
.spot-show-1-1{
  display: flex;
}

.spot-show-header-2{
  height: 80px;
}


.spot-show-state-link{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #ebebeb;
  font-weight: 400;
  margin-right: 5px;
}

.spot-show-state-link:hover{
  border-bottom: 1px solid #333333;
  cursor: pointer;
}




.spot-show-header{
  margin: 0 auto;
  background: white;
  margin-top: 35px;
}

.spot-show-header-2{
  display: flex;
  justify-content: space-between;
}
.spot-show-header-2-1{
  width: 30%;
  display: flex;
}

.abovethumbs-div{
  margin-top: 18px;
}

.abovethumbs::before{
  color: #40d9ac;
}

.spot-show-header-2-2{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  height: 60px;
}


.spot-show-user-profile-element{
  background: white;
  margin: 15% auto;
  display: flex;
  justify-content: space-evenly;
}

.spot-show-user-profile-element-pic{
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50px;
  border: 1px solid #cccccc;
  display: flex;
  overflow: hidden;
  margin: auto 0;
}


.spot-show-user-profile-element-pic img{
  width: 100%;
  height: auto;
}

.spot-show-user-profile-element p{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.42;
  font-weight: 400;
  width: 40%;
}

.spot-show-bot{
  border-top: 1px solid #ebebeb;
  margin: 0 auto;
  min-height: 250px;
  display: flex;
}

.spot-show-user-profile{
  width: 40%;
}



.spot-show-description{
  width: 60%;
  padding: 10px;
}

.spot-show-description p{
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.42;
  font-weight: 400;
}


.spot-show-1-name{
  display: flex;
}

.spot-show-tick{
  margin-top: 5px;
  background: #4199FF;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spot-show-tick span{
  color: white;
}

.spot-show-tick-message{
  background: black;
  color: white;
  display: none;
  position: absolute;
  left: -65%;
  top: 200%;
  width: 160px;
  height: 80px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 0 10px 10px 10px;
}

.spot-show-tick:hover .spot-show-tick-message {
  display: block;
}

.spot-show-tick-arrow{
  position: absolute;
  display: none;
  background: black;
  width: 65px;
  height: 65px;
  top: 150%;
  left: -10%;
  transform: rotate(20deg);
}

.spot-show-tick:hover .spot-show-tick-arrow {
  display: block;
}

.fa-camera{
  color: rgb(96, 95, 95);
  margin-right: 5px;
}

.firstthumbs{
  color: #40d9ac;
  margin: 20px 0;

}

.fa-angle-down{
  margin-left: 5px;
}


.spot-show-header-2-1 h3{
  margin-top: 20px;
  margin-left: 5px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.spot-show-header-hundred-percent{
  color: #40d9ac;
}

.fa-share-square-o{
  width: 30px;
  height: 30px;
}

.fa-share-square{
  color: rgb(96, 95, 95);
}


.spot-index-tick{
  margin-top: 5px;
  background: #4199FF;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spot-index-tick span{
  color: white;
}

.spot-index-tick-message{
  background: black;
  color: white;
  display: none;
  position: absolute;
  left: -65%;
  top: 200%;
  width: 160px;
  height: 80px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 0 10px 10px 10px;
}

.spot-index-tick:hover .spot-index-tick-message {
  display: block;
}

.spot-index-tick-arrow{
  position: absolute;
  display: none;
  background: black;
  width: 65px;
  height: 65px;
  top: 150%;
  left: -10%;
  transform: rotate(20deg);
}

.spot-index-tick:hover .spot-index-tick-arrow {
  display: block;
}

.spot-item-content-title h3{
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 20px;
  font-weight: 500;
}

.spot-item-content h5{
  color: grey;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 500;
}

.spot-item-content-footer{
  display: flex;
  justify-content: space-between;
}

.spot-item-content-footer-review{
  display: flex;
  align-items: center;
}

.spot-show-header-review-count{
  margin-left: 5px;
}


.spot-index-header-hundred-percent{
  font-weight: 500;
  color: #40d9ac;
  font-size: 14px;
  margin-left: 5px;
}

.spot-item-content-footer-price{
  font-weight: 500;
}

.spot-show-master{
  margin-top: 90px;
}

.spot-show-map{
  width: 100%;
  height: 400px;
  background: #40d9ac;
  margin-top: 30px;
}